<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Hedgehog School{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
        {% block stylesheets %}
            <link rel="preconnect" href="https://fonts.googleapis.com" />
            <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
            <link href="https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Pre&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap" rel="stylesheet" />
            <link rel="stylesheet" href="{{ asset('assets/styles/app.css') }}" />
            <link rel="stylesheet" href="{{ asset('assets/styles/login.css') }}" />
        {% endblock %}
        {% block final_stylesheets %}{% endblock %}
        {% block javascripts %}
            <script src="{{ asset('assets/scripts/scripts.js') }}" defer></script>
            <script src="{{ asset('assets/scripts/darkModeToggle.js') }}" defer></script>
        {% endblock %}
        {% block final_javascripts %}{% endblock %}
    </head>
    <body>
        {% block body %}
            {% block bgvideo %}{% endblock %}
            {% block content %}{% endblock %}
        {% endblock %}
        {% block modal %}
            {% include 'components/footer.html.twig' %}
            <section class="modal">
                <article class="modalContent">
                    <a href="#" class="connexion close">X</a>
                    <h2>Connexion</h2>

                    <form action="{{ path('app_login') }}" method="POST">
                        <label for="email">email
                            <input type="email" name="_username" id="username" class="form-control" autocomplete="email" required autofocus>
                        </label>
                        <label for="password">Mot de Passe
                            <input type="password" name="_password" id="password" class="form-control" autocomplete="current-password" required>
                        </label>
                        <input type="hidden" name="_csrf_token"
                               value="{{ csrf_token('authenticate') }}"
                        >
                        <input type="submit" value="Connexion">
                        <a href="{{ path('app_register') }}" id="registerLink">Pas encore inscrit? S'inscrire ici</a>
                    </form>
                </article>
            </section>
        {% endblock %}
    </body>
</html>
