{% extends 'base.html.twig' %}

{% block title %}Hedgehog School{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{asset('assets/styles/app.css')}}">
    <link rel="stylesheet" href="{{asset('assets/styles/home.css')}}">
{% endblock %}
{% block final_javascripts %}
    <script src="{{ asset('assets/scripts/bgVideoChanger.js') }}" defer></script>
{% endblock %}
{% block bgvideo %}
    <video autoplay muted loop>
        <source src="{{ asset('media/bg.mp4') }}" type="video/mp4">
        <source src="{{ asset('media/bg.webm') }}" type="video/webm">
        Votre navigateur ne supporte pas les vidéos HTML5.
    </video>
{% endblock %}
{% block banner %}{% endblock %}
{% block content %}
    <section id="hero">
        <h1>Bienvenue</h1>
        <article>
            <p>Apprendre</p>
            <p>Savoir</p>
            <p>Transmettre</p>
        </article>
        <button>S'inscrire</button>
        <a href="#search">Chercher un cours</a>
    </section>
    <main>
        <section class="accordion">
            <h2>Nos derniers cours</h2>
            <article class="content hidden">
                <h3>Slider</h3>
                <aside id="slider">
                    <a href="#2">
                        <img id='1' src="https://picsum.photos/id/18/1980/1280" alt="Image d'illustration">
                        <h4>Titre du cours</h4>
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsa ex, obcaecati saepe consectetur, illo dolorem iste numquam doloremque maiores beatae pariatur voluptatem libero consequuntur inventore.</p>
                    </a>
                    <a href="#3">
                        <img id='2' src="https://picsum.photos/id/111/1980/1280" alt="Image d'illustration">
                        <h4>Titre du cours</h4>
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsa ex, obcaecati saepe consectetur, illo dolorem iste numquam doloremque maiores beatae pariatur voluptatem libero consequuntur inventore.</p>
                    </a>
                    <a href="#4">
                        <img id='3' src="https://picsum.photos/id/213/1980/1280" alt="Image d'illustration">
                        <h4>Titre du cours</h4>
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsa ex, obcaecati saepe consectetur, illo dolorem iste numquam doloremque maiores beatae pariatur voluptatem libero consequuntur inventore.</p>
                    </a>
                    <a href="#1">
                        <img id='4' src="https://picsum.photos/id/33/1980/1280" alt="Image d'illustration">
                        <h4>Titre du cours</h4>
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsa ex, obcaecati saepe consectetur, illo dolorem iste numquam doloremque maiores beatae pariatur voluptatem libero consequuntur inventore.</p>
                    </a>
                </aside>
            </article>
        </section>
    </main>
{% endblock %}