{% extends "layout.html.twig" %}
{% block final_stylesheets %}
    <style>/* body{ background:url({{ asset('assets/hedgehog.jpg') }})fixed no-repeat;} */</style>
    <link rel="stylesheet" href="{{ asset('assets/styles/course.css') }}">
{% endblock %}
{% block content %}
<section id="articleHeader">
    <div>
        <video src="{{ asset("media/bg.mp4") }}" poster="{{ article.image }}"></video>
        <article>
            <h3>Video title</h3>
            <p>Description de la vidéo</p>
        </article>
        <article class="miniatures">
            <video src="https://mistertea.fr/selene/video/placeholder.mp4" poster="https://picsum.photos/id/32/400/200"></video>
            <video src="https://mistertea.fr/selene/video/placeholder.mp4" poster="https://picsum.photos/id/33/400/200"></video>
            <video src="https://mistertea.fr/selene/video/placeholder.mp4" poster="https://picsum.photos/id/34/400/200"></video>
            <video src="https://mistertea.fr/selene/video/placeholder.mp4" poster="https://picsum.photos/id/35/400/200"></video>
            <video src="https://mistertea.fr/selene/video/placeholder.mp4" poster="https://picsum.photos/id/36/400/200"></video>
        </article>
    </div>
    <div>
        <nav id="tabs">
            {% if article.chaptersTitles|length > 0 %}
                <a href="#" class="rounded-tab left active">{{ article.chaptersTitles[0] }}</a>
                {% if article.chaptersTitles[1] %}
                    <a href="#" class="rounded-tab">{{ article.chaptersTitles[1] }} </a>
                {% elseif lastChapterTitle %}
                    <a href="#" class="rounded-tab right">{{ lastChapterTitle }}</a>
                {% else %}
                    <a href="#" class="rounded-tab right">Fin du cours</a>
                {% endif %}
            {% endif %}
        </nav>
        <article class="chapter-header">
            {% if article.chaptersTitles|length > 0 %}
                <h2>{{ article.chaptersTitles[0] }}</h2>
            {% else %}
                <h2>{{ article.title }}</h2>
                <i>Chapitre unique</i>
            {% endif %}
            <aside>
                <i class="date">17/06/2024</i>
                <div class="tags">
                    <mark>tags</mark>
                </div>
            </aside>
        </article>
        <p>{{ article.intro | raw }}</p>
    </div>
</section>
<section id="chapterContent">
    {% if article.chaptersTitles|length > 0 %}
        <h2>{{ article.chaptersTitles[0] }}</h2>
    {% else %}
        <h2>{{ article.title }}</h2>
        <i>Chapitre unique</i>
    {% endif %}
    <article>
        {{ article.content | raw }}
    </article>
</section>
<section id="comments">
    <h2>Commentaires et avis</h2>
    <article class="comment">
        <h4>Titre commentaire</h4>
        <div>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iste repellat dolorem perferendis numquam itaque nihil facere fugiat eveniet dicta modi?</p>
            <p>&starf;&starf;&starf;&star;&star;</p>
        </div>
    </article>
</section>


{% endblock %}