{% extends "layout.html.twig" %}

{% block content %}
    <style>
        figcaption>*{
            margin: 1em auto;
            display: block;
        }
        figcaption mark{
            display: inline-block;
            border-radius: .7em;
            padding: .5em;
            line-height: 1.2em;
        }
        figcaption mark::after{
            content:"x";
            position: relative;
            color: indianred;
            border-radius: 50%;
            font-size: 1em;
            padding: .2em;
            margin-left: .5em;
            cursor: pointer;
        }
    </style>
<section id="articleHeader"></section>
<section id="postsResume">

    {#
    {% if post is iterable %}
        <figure>
            {% for post in post %}
                    <img src={{ post.image }} alt={{post.alt}} />
                <figcaption>
                    <h2>{{ post.title }}</h2>
                    <small>{{ post._id }}</small>
                    <i>{{ post.intro }}</i>
                    <article>{{ post.content }}</article>
                    <mark>{{ post.category }}</mark>
                </figcaption>
            {% endfor %}
        </figure>
    {% else %}
        <figure>
            <img src={{ post.image }} alt={{post.alt}} />
            <figcaption>
                <h2>{{ post.title }}</h2>
                <small>{{ post._id }}</small>
                <i>{{ post.intro }}</i>
                <article>{{ post.content }}</article>
                <mark>{{ post.category }}</mark>
            </figcaption>
        </figure>
    {% endif %}
    #}
    <figure>
        <img src={{ post.image }} alt={{post.alt}} />
        <figcaption>
            <h2>{{ post.title }}</h2>
            <small>{{ post._id }}</small>
            <i>{{ post.intro }}</i>
            <article>{{ post.content | raw }}</article>
            <mark>{{ post.category }}</mark>
        </figcaption>
    </figure>
</section>


{% endblock %}